@model Payroll.Core.DTOs.EmployeeDto

@{
    ViewData["Title"] = "Add Employee";
}

<h2>Add</h2>

<h4>Employee</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"/>
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}